.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  max-width: 100%;
  height: 100px;
  justify-content: space-between;
}

#trybewarts-header-title {
  color: white;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}
#nameLastname {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#emailHouse {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}